<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="users"></ion-back-button>
    </ion-buttons>
    <ion-title>users detail ok</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <ion-card  *ngIf="user">

    <img [src]="user.picture.medium">
    <ion-card-header>
      <ion-card-title>
        {{user.name.title }}  {{user.name.first }}    {{user.name.last }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
    
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-text color="primary">User's data</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-icon color="danger" name="call" slot="start"></ion-icon>
              <ion-label>{{user.phone}}</ion-label>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-icon color="danger" name="at-outline" slot="start"></ion-icon>
              <ion-label>{{user.email}}</ion-label>
            </ion-item>
          </ion-col>
         
          <ion-col>
            <ion-item>
              <ion-icon  color="danger" name="globe-outline"  slot="start"></ion-icon>
              <ion-label>{{user.nat}}</ion-label>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-icon  color="danger" name="calendar-outline"  slot="start"></ion-icon>
              <ion-label>{{user.dob.date.toLocaleString()}}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>
