<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="users"></ion-back-button>
    </ion-buttons>
    <ion-title>users detail ok</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card  *ngIf="user">

    <ion-card-header>
      <ion-card-title>
        {{user.name.title }}  {{user.name.first }}    {{user.name.last }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img [src]="user.picture.medium"></ion-img>
    </ion-card-content>
  </ion-card>

</ion-content>
